:host {
  display: block;
  box-sizing: border-box;

  .ze-container {
    display: flex;
    width: 100%;
    height: 100%;
    max-width: 100%;
    &__align {
      max-width: 100%;
    }
  }
}

:host([constraints="fill"]) {
  .ze-container {
    flex: 1;
    height: 100%;
    &__align {
      height: 100%;
      flex: 1;
      align-items: stretch;
      justify-content: stretch;
    }
  }
}

:host([constraints="grow"]) {
  .ze-container {
    flex: 1;
    &__align {
      flex: 1;
    }
  }
}
// :host(:not([alignment])) {
//   .ze-container {
//     flex: 1;
//     &__align {
//       flex: 1;
//     }
//   }
// }

:host([size="content"]) {
  display: inline-block;
}

:host([alignment="right"]) {
  .ze-container {
    justify-content: flex-end;
    align-items: center;
  }
}

:host([alignment="left"]) {
  .ze-container {
    // justify-content: flex-start;
    align-items: center;
  }
}

:host([alignment="top"]) {
  .ze-container {
    justify-content: center;
    // align-items: flex-start;
  }
}

:host([alignment="bottom"]) {
  .ze-container {
    justify-content: center;
    align-items: flex-end;
  }
}

:host([alignment="center"]) {
  .ze-container {
    justify-content: center;
    align-items: center;
  }
}

:host([alignment="top-left"]) {
  .ze-container {
    justify-content: flex-start;
    align-items: flex-start;
  }
}

:host([alignment="bottom-left"]) {
  .ze-container {
    justify-content: flex-start;
    align-items: flex-end;
  }
}

:host([alignment="top-right"]) {
  .ze-container {
    justify-content: flex-end;
    align-items: flex-start;
  }
}

:host([alignment="bottom-right"]) {
  .ze-container {
    justify-content: flex-end;
    align-items: flex-end;
  }
}
