ze-nav:not([mounted]) {
  position: relative;
  display: none;
  *[slot="top"] {
    display: none;
  }
}

ze-tabs:not([mounted]),
ze-carousel:not([mounted]),
ze-carousel-bullets:not([mounted]),
ze-sidebar:not([mounted]),
ze-rating:not([mounted]),
ze-carousel:not([mounted]),
{
  display: none;
}

ze-overlay,
ze-cookie {
  display: none;
}


ze-if[initial-hide] {
  display: none;
}

.lc_dropdown__content {
  position: fixed;
  left: -9999px;
  top: -9999px;
}

ze-dropdown:not([mounted]) > *:not([slot="trigger"]) {
  display: none
}


ze-section:not([mounted]) {
  display: block;
}
